<a href="https://colab.research.google.com/github/wingsofrex/RAINAK-SHARMA/blob/master/bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
  ## Write a program to take the two numbers from users and add them

In [3]:
n1 = int(input("enter number 1:"))
n2 = int(input("Enter number 2:"))
c = n1 + n2
print("Sum", c)

enter number 1:56
Enter number 2:36
Sum 92

**q2** Take two int valuse from user and print greatest among them

In [6]:
n1 = int(input("ENter number1: "))
n2 = int(input("ENter number2: "))

if n1 > n2:
  print("n1 is largest", n1)
elif n1 < n2:
  print("n2 is largest", n2)
else:
  print("Both are equal")

ENter number1: 65
ENter number2: 369
n2 is largest 369

**q3** Take values of length adn breadth and check for rectangle or square

In [10]:
a = int(input("Enter the length:\n"))
b = int(input("Enter breadth:\n"))
c = a*b
if a > b:
  print("RECTANGLE")
elif b > a:
  print("TILTED RECTANGLE")
else:
  print("SQUARE")

print("Area is:", c)

Enter the length:
5
Enter breadth:
5
SQUARE
Area is: 25

**q4** A shop will discount of 10% if the cost of purchased quantiy is more than 1000. Ask user for quantity. Suppose one unit will cost 100. Judge and print total cost for user

In [12]:
b = int(input("Enter the quantity: \n"))
price = b * 100
print("Price is ", price)

if price > 1000:
  new_price = price * 10/100
  print("New price to be paid is ", new_price)
else:
  print("PAY FULL AMOUNT")

Enter the quantity:
2
Price is  200
PAY FULL AMOUNT

**q5** A company decided to give n=bonus of 5% to emplotyee  if hisher year of servoce is mpre than five years. Ask user for their salalry and YoS and print net bonus amt

In [14]:
print("Enter the salary: ")
a = int(input())

print("Enter service years: ")
b = int(input())

if b > 5:
  bonus = a * 0.05
  new_salary = a + bonus
  print(new_salary)
else:
  print("NO BONUS")

Enter the salary:
78000
Enter service years:
3
NO BONUS

**q6** A school has following rules for grading system
---
below 25--> f
25 to 45 is E
45 to 50 D
50 to 50 is C
60 to 80 is B
Above 80 is A
---
Ask user to enter marks and print the corresponding grade

In [28]:
print("Enter the marks:\n")
a = int(input())

if 80 < a < 100:
  print("Grade is A")
elif 60 < a < 80:
  print("B")
elif 50 < a <60:
  print("C")
elif 45 < a <50:
  print("D")
elif 25 < a <45:
  print("E")
elif a < 25:
  print("F")
else:
  print("INVALID")

Enter the marks:

229
INVALID

**q7**